@import '../../assets/scss/helpers/variables';
@import '../../assets/scss/helpers/typography';

.error {
  @include body-s;
  bottom: -15px;
  color: $red;
  padding: 0 14px;
  position: absolute;
}

.requestError {
  @include body-s;
  color: $red;
  line-height: 14px;
  margin-right: 32px;
  max-width: 100%;
  position: absolute;
}

.wrapInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 16px;
  position: relative;
  width: 100%;
}

.form {
  width: 100%;
}

.container {
  justify-content: center;
}

.btn {
  margin: 32px 0 24px;
  width: 100%;
}

.wrapBtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}