@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/typography';


.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;


  .input {
    position: absolute;
    visibility: hidden;
  }

  .avatar {
    cursor: pointer;
    height: 100px;
    width: 100px;
  }


  .loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.info {
  @include body-s;
  align-items: center;
  color: $gray;
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: center;
  text-align: center;
}
