@import '../../assets/scss/helpers/typography';

.container {
  min-width: 1000px;
  padding: 40px 15px;
  position: relative;

  .title {
    @include h1;
    color: $bronze;
    max-width: 1100px;
    text-align: center;
  }


  .wrapLoader {
    display: flex;
    justify-content: center;
    margin: 20px;
  }


  .video {
    margin: 20px auto;
  }

  .error {
    @include h3;
    text-align: center;
  }

  .back {
    @include body-s;
    align-items: center;
    color: $darkGray;
    cursor: pointer;
    display: flex;
    left: -20px;
    position: absolute;
    top: 56px;
    transform: translate(-100%, -50%);
    width: fit-content;
  }

  .mainInfoWrap {
    @include body-m;
    margin: 20px 0;
  }

  .description {
    @include h3;
    color: $darkGray;
    margin: 20px 0;
  }

  .descriptionData {
    @include body-s;
    color: $darkGray;
    min-height: 1px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .link {
    @include body-m;
    color: $systemBlueDark;
    cursor: pointer;
  }
}

