@import '../../assets/scss/helpers/typography';


.container {
  height: calc(100vh - 60px);
  padding: 60px 15px;
  overflow: auto;
  width: 100%;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $ashen;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 3px;
  }

  .title {
    @include h1;
    color: $bronze;
    text-align: center;
  }

  .details {
    @include body-m;
    margin: 16px;
    text-align: center;
  }


  .noData {
    color: $gray;
    padding-top: 30px;
    text-align: center;
  }


  .wrap {
    display: flex;
    justify-content: center;
    margin: 20px;
  }


  .tableWrap {
    padding-top: 20px;
    width: 100%;

    .table {
      :global {

        .MuiDataGrid-cell:focus-within {
          outline: none;
        }

        .MuiDataGrid-columnSeparator {
          display: none;
        }

        .MuiDataGrid-row {
          background: $white;

          &:not(:last-child) {
            .MuiDataGrid-cell {
              border-bottom: 4px solid $lightGray;
            }
          }
        }

        .MuiDataGrid-cell {
          @include body-s;

          a {
            @include body-s;
            align-items: center;
            color: $systemBlueDark;
            display: flex;
            height: 100%;
            width: 100%;
          }
        }

        .MuiDataGrid-columnHeaders {
          background: rgba($bronze, 0.5);

          .MuiDataGrid-columnHeader:focus {
            outline: none;
          }

          .MuiDataGrid-columnHeaderTitleContainer {
            @include body-m;
          }
        }
      }


    }
  }

  .img {
    max-height: 52px !important;
    object-fit: cover !important;
  }

  .button {
    @include body-s;
    border: 1px solid $systemBlueDark !important;
    color: $systemBlueDark !important;
    font-family: 'Gotham' !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 24px !important;
    text-transform: none !important;
  }
}



