@import '../../../assets/scss/helpers/typography';


.wrapper {
  .link:hover {
    text-decoration: none;
  }

  .link {
    .title {
      @include title;
      align-items: center;
      color: $white;
      display: flex;
      gap: 5px;
    }
  }

  .signOut {
    cursor: pointer;
  }


  .wrapEmail {
    align-items: center;
    cursor: pointer;
    display: flex;

    .email {
      @include body-s;
      color: $white;
      margin-left: 10px;
    }
  }

  .wrapMenuItem {
    align-items: center;
    color: $darkGray;
    display: flex;
    gap: 5px;
    justify-content: left;
  }
}

