@import '../../assets/scss/helpers/typography';

.title {
  color: $darkBackgroundTertiary;
  max-width: 1100px;
  text-align: center;
}

.body {
  min-height: calc(100vh - 64px);
}

.contentWrap {
  padding: 32px;
}

.container {
  padding: 60px 15px;
}

.noData {
  color: $opaqueDarkSeparator;
  padding-top: 30px;
  text-align: center;
}

.wrapLoader {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.video {
  margin: 20px auto;
}
