@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/GothamPro-Bold.woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/GothamPro-Medium.woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GothamPro.woff');
}
@font-face {
  font-family: 'ITCAvantGarde';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ITCAvantGardeStd-Md.woff');
}
@font-face {
  font-family: 'ITCAvantGarde';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ITCAvantGardeStd-Bold.woff');
}
@font-face {
  font-family: 'ITCAvantGarde';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ITCAvantGardeStd-Bk.woff');
}
