$red: #C51315;
$darkGray: #161D21;
$gray: #707070;
$blue: #0054A4;
$lightBlue: #B1E1FD;
$yellow: #FFD643;
$ashen: #BDC2C6;
$lightGray: #F1F4F6;
$bronze: #AE9A64;
$white: #FFF;
$green: #43BC9C;
$darkBlue: #122053;
$black: #000;

$systemGreenDark: #32D74B;
$systemBlueDark: #0A84FF;
$systemRedDark: #FF453A;
$systemOrangeDark: #FF9F0A;
